<ion-header>
  <ion-toolbar>
    <ion-title>
      Emergencia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <ion-grid>
    <ion-row>
      <ion-col size="9">
        <form novalidate [formGroup]="form">
          <ion-item>
            <!-- <ion-title>{{ emergencia2.ambulancia }}</ion-title> -->
            <ion-label stacked class="my-label">Origen</ion-label>
            <ion-input placeholder="..." formControlName="origenE"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked class="my-label">Destino</ion-label>
            <ion-input placeholder="..." formControlName="destinoE"></ion-input>
          </ion-item>
          <ion-button expand="full" size="small" color="dark" (click)="save()">
            <ion-icon name="send"></ion-icon>Ubicar
          </ion-button>
        </form>
        <div id="mapId" style="width: 100%; height: 100%">
        </div>
      </ion-col>
      <ion-col size="3">
        <ion-card>
          <ion-row>
            <!-- Item as an Anchor -->
            <ion-item>
              <ion-label stacked class="my-label">
                Síntomas
              </ion-label>
            </ion-item>
            <ion-item >
              <ion-input [value]='Emergencia.sintomas' disabled></ion-input>
            </ion-item>        
          </ion-row> 
        </ion-card>    
        <ion-card>        
          <ion-row>
            <!-- Item as an Anchor -->
            <ion-item>
              <ion-label stacked class="my-label">
                Equipo necesario
              </ion-label>
            </ion-item> 
            <ion-item>
              <ion-input [value]='Emergencia.equipos' disabled></ion-input>
            </ion-item>       
          </ion-row> 
        </ion-card>
        <ion-card>
          <ion-row>
            <!-- Item as an Anchor -->
            <ion-item>
              <ion-label stacked class="my-label">
                Hospital más cercano
              </ion-label>
            </ion-item> 
            <ion-item>
              <ion-input [value]='Emergencia.hospital' disabled></ion-input>
            </ion-item>       
          </ion-row> 
        </ion-card> 
        <ion-button expand="full" color="danger">Cancelar Emergencia</ion-button>
        <ion-card>
        <form novalidate [formGroup]="formComentarios">
          <ion-item>
            <ion-label position="floating">Comentarios</ion-label>
            <ion-input placeholder="Comentarios de la atención..."  formControlName="comentarioE"></ion-input>
          </ion-item>
          <ion-button expand="block" color="success" (click)="terminarE()">Terminar emergencia</ion-button>
        </form>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>